# Team Lead
*    @rynadag

# Frontend
*.tsx    @nazwaanasha @eoxxax
*.css    @nazwaanasha @eoxxax

# Backend
/src/routes/     @mexsfo @rhzain
/src/models/     @mexsfo @rhzain

# Docker
Dockerfile             @rynadag
docker-compose.yml     @rynadag
